/* CSS */
.create-todo-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #0C589C;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  background-clip: padding-box;
  background-color: #0C589C;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.create-todo-button:hover,
.create-todo-button:focus {
  background-color: #0C589C;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.create-todo-button:hover {
  transform: translateY(-1px);
}

.create-todo-button:active {
  background-color: #20629c;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}